---
title: 'Contact | Adhaus Signs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
eleventyNavigation:
    key: Contact Us
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="https://img1.wsimg.com/isteam/ip/10435767-f1c4-40bf-bcea-4a8ed673ea6c/3288-3290.jpg/:/rs=w:740,cg:true,m">
            <source media="(min-width: 601px)" srcset="https://img1.wsimg.com/isteam/ip/10435767-f1c4-40bf-bcea-4a8ed673ea6c/3288-3290.jpg/:/rs=w:740,cg:true,m">
            <img aria-hidden="true" decoding="async" src="https://img1.wsimg.com/isteam/ip/10435767-f1c4-40bf-bcea-4a8ed673ea6c/3288-3290.jpg/:/rs=w:740,cg:true,m" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <form id="cs-form" name="Contact Form" method="post">
                <div class="cs-content">
                    <span class="cs-topper">Contact</span>
                    <h2 class="cs-title">Get in Touch</h2>
                    <p class="cs-text">
                        Whether you have a quick question or need a custom quote, we’re here to assist. Let’s connect and bring your ideas to life!
                    </p>
                </div>
                <label>
                    Name
                    <input required type="text" id="name" name="name" placeholder="Name">
                </label>
                <label>
                    Email
                    <input required type="text" id="email" name="email" placeholder="Email">
                </label>
                <label>
                    Phone
                    <input required type="text" id="phone" name="phone" placeholder="Phone">
                </label>
                <label>
                    Services
                    <select name="cars" id="cs-select-485" >
                        <option value="full renovation">LED Residential Signs</option>
                        <option value="sod install">Non-LED Residential Signs</option>
                        <option value="yard cleanup">Illuminated Number Signs</option>
                        <option value="landscape design">Non LED Number Signs</option>                
                        <option value="landscape design">Other</option>
                    </select>
                </label>
                <label class="cs-label-message">
                    Message
                    <textarea required name="Message" id="message" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid" type="submit">Submit Message</button>
            </form>
            <div class="cs-right-section">
                <!--Email-->
                <span class="cs-header">Email</span>
                <a class="cs-link" href="mailto:{{client.email}}">{{client.email}}</a>
                <!--Phone-->
                <span class="cs-header">Phone</span>
                <a class="cs-link" href="tel:{{client.phoneForTel}}">{{client.phoneFormatted}}</a>
                <!--Address-->
                <span class="cs-header">Address</span>
                <a class="cs-link" href="{{client.address.mapLink}}">
                    <span class="cs-block">
                        {{client.address.city}}
                        {{client.address.state}}
                        {{client.address.zip}}
                    </span>
                </a>

                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source media="(min-width: 601px)" srcset="https://img1.wsimg.com/isteam/ip/10435767-f1c4-40bf-bcea-4a8ed673ea6c/97.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:740,cg:true">
                    <img aria-hidden="true" decoding="async" src="https://img1.wsimg.com/isteam/ip/10435767-f1c4-40bf-bcea-4a8ed673ea6c/97.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:740,cg:true" alt="building" loading="lazy" width="2500" height="1667">
                </picture>

            </div>
        </div>
    </section>
{% endblock %}